ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #333;
  }

  /* Change the header backgroud to Dark Olive Green and Text to Black*/
.header {
  padding: 60px;
  text-align: center;
  background:#333;
  color: white;
  font-size: 30px;
}
/* Cahnge the body background to Dark Olive green and Text to Black*/
.body {
  background:#333;
  color: white;
  font-size: 30px;
}